# --- Maven ---
target/
*.jar
*.war
*.ear

# --- IntelliJ IDEA ---
.idea/
*.iml
*.iws
*.ipr


# --- Java / build ---
*.class
hs_err_pid*
replay_pid*

# --- System ---
.DS_Store
Thumbs.db

# --- Logi ---
*.log